body {
    background-color: rgb(57, 5, 5);
    color: rgb(145, 161, 161);
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 5% auto;
}

.container__title {
    padding: 0 0 1rem;
}

.img-1 {
    background-image: url('./img/hqdefault.jpg');
}

.img-2 {
    background-image: url('./img/i.webp');
}

.img-3 {
    background-image: url('./img/images.jpg');
}

.img-4 {
    background-image: url('./img/n37toaQ6JxM.jpg');
}

.img-5 {
    background-image: url('./img/unnamed.png');
}
img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* active paart */
.cross-icon {
    display: block;
    width: 5%;
    transition: 1s;
    rotate: -180deg;
    aspect-ratio: 4 / 4;
    background-image: url('./img/Childish-Cross_24996.png');
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
}

label>span {
    display: flex;
    align-items: center;
}
.img {
  margin: auto;
  width: 80%;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
input {
    display: none;
}

input:checked~label>.icon {
    rotate: -180deg;
    transition: 1s;
}

input:checked~label {
    color: rgb(9, 125, 48);
}

input:checked~label>.img {
    aspect-ratio: 4 / 4;
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}