body {
    background-color: rgb(0, 0, 0);
    color: rgb(145, 161, 161);
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 5% auto;
}
.container__title {
    padding: 0 0 1rem;
}
/* active paart */
.cross-icon {
    display: block;
    width: 10%;
    transition: 1s;
    rotate: -180deg;
    aspect-ratio: 4 / 4;
}
label {
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
}
label>span {
    display: flex;
    align-items: center;
}
input {
    display: none;
}
